<app-header></app-header>
<div >
    <div class="flexbox">
        <div>
            <div class="heading">{{ studentName }} Result</div>
            <div class="align first">
                <div>Subject Name</div>
                <div>Marks</div>
            </div>
            <div class="align">
                <div>Maths</div>
                <div>{{maths}}</div>
            </div>
            <div class="align">
                <div>Physics</div>
                <div>{{physics}}</div>
            </div>
            <div class="align">
                <div>Chemistry</div>
                <div>{{chemistry}}</div>
            </div>
            <div class="align first">
                <div>Percentage (%)</div>
                <div>{{percentage}}%</div>
            </div>
        </div>
    </div>
</div>
