.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.align{
    display: flex;
    justify-content: center;
    border: 1px black solid;
}
.align div{
    padding: 20px;
}
.first{
    font-weight: bold;
}
.heading{
    font-size: 20px;
    font-weight: 800;
    color: green;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}