<p class="header">
  <mat-toolbar>
    <span>Result Management Tool</span>
    <span class="example-spacer"></span>
    <button *ngIf="(teacher === '' || !teacher) else elseBlock" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <ng-template #elseBlock>
      <span class="name">{{teacher.teacherName}}</span>
      <button (click)="handleLogOut()" class="example-icon favorite-icon" mat-raised-button color="primary">LogOut</button>
    </ng-template>
  </mat-toolbar>
</p>