<app-header></app-header>
<div class="main">
    <div class="center">
        <button class="addStudent" mat-raised-button (click)="openDialog('3000ms', '1500ms')" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add">add</mat-icon>
            Add New Student</button>
        <div class="table-container">
            <table mat-table [dataSource]="students" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                  <ng-container matColumnDef="action">
                    <th class="center" mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="center" mat-cell *matCellDef="let element"> 
                        <button mat-mini-fab class="white">
                            <mat-icon (click)="openEditDialog('3000ms', '1500ms', element)">edit</mat-icon>
                          </button>
                          <button mat-mini-fab class="white">
                            <mat-icon (click) = "deleteStudent(element.studentId)">delete</mat-icon>
                          </button>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="studentId">
                    <th class="center" mat-header-cell *matHeaderCellDef> S.No. </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.studentId}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="studentName">
                    <th class="center" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.studentName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="studentRollNo">
                    <th class="center" mat-header-cell *matHeaderCellDef> Roll No </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.studentRollNo}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="dob">
                    <th class="center" mat-header-cell *matHeaderCellDef> Date Of Birth </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.dob.split("T")[0]}} </td>
                </ng-container>

                <ng-container matColumnDef="physics">
                    <th class="center" mat-header-cell *matHeaderCellDef> Marks in Physics </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.physics}} </td>
                </ng-container>

                <ng-container matColumnDef="maths">
                    <th class="center" mat-header-cell *matHeaderCellDef> Marks in Maths </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.maths}} </td>
                </ng-container>

                <ng-container matColumnDef="chemistry">
                    <th class="center" mat-header-cell *matHeaderCellDef> Marks in Chemistry </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.chemistry}} </td>
                </ng-container>

                <ng-container matColumnDef="percentage">
                    <th class="center" mat-header-cell *matHeaderCellDef> OverAll Percentage(%) </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{ (element.chemistry + element.maths + element.physics) / 3}}% </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>