<app-header></app-header>
<div class="main">
    <div>
        <mat-card>
            <mat-tab-group class="tab-container">
                <mat-tab label="STUDENT LOGIN">
                    <form method="post" #studentLogin="ngForm" (ngSubmit)="getStudentData(studentLogin['value'])">
                        <div>
                            <mat-form-field appearance="fill" class="form-fileds">
                                <mat-label>Student's Roll No</mat-label>
                                <input required name="rollNo" ngModel matInput placeholder="e.g = 121281772">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="form-fileds">
                                <input required name="dob" ngModel matInput [matDatepicker]="picker" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button color="primary"
                                >Submit</button>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="TEACHER LOGIN">
                    <app-teacher-login></app-teacher-login>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>